/*
I'm not going to make such a big project without using SASS ever again, vanilla CSS sucks
*/

::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 25px;
  width: 15px;
}

::-webkit-scrollbar-button {
  background-color: #111111;
  border-radius: 100vmax;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: background-color 3s ease-out;
  border-radius: 100vmax;
  border: 1px solid #4e4e4e;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8e8d8d;
}

::-webkit-scrollbar-thumb:active {
  background-color: #ababab;
}

::-webkit-scrollbar-thumb:active ::-webkit-scrollbar-track-piece {
  background-color: #aaa9a9;
}

::-webkit-scrollbar-track {
  border-radius: 100vmax;
}


::-webkit-scrollbar-track-piece {
  background-color: #4e4e4e;
  border-left: 2px solid #515151;
}

::-webkit-scrollbar-corner {
  background-color: #111111;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: #696969 #4e4e4e;
    scrollbar-width: thin;
  }
}



*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  scroll-behavior: smooth;
  cursor: none;
}

img {
  cursor: none;
}

.cursor {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  pointer-events: none;
  transform: translate(0%, 0%);
  z-index: 100;
}

.cursor::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  font-family: Montserrat, Helvetica, sans-serif;
  background-color: red;
  border: none;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;

}

a:hover {
  cursor: none;
}

a:hover .cursor {
  border: 1px solid red;
}

ul {
  list-style-type: none;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  background: rgb(63, 63, 63);
  overflow-x: hidden;
  width: 100vw;
  color: #f1f1f1;
}

header {
  height: 100vh;

}

.header__image-container {
  height: 100vh;
  overflow: hidden;
  margin-top: -30px
}

.header__background-image {
  position: relative;
  width: 100%;
  display: block;
}

.header__navigation-bar {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 290px;
}

.header__page-slogan {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 100%);
  text-align: center;
  background-color: transparent;
  /* backdrop-filter: blur(15px);  On ajoutera une animation avec JS*/
  width: 100%;
}

.header__page-slogan-title-container {
  display: inline-block;
  /*To make the container take the width of the heading*/
}

@keyframes typingEffect {
  from {
    width: 0%;
  }

  to {
    width: 100%;

  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}


.header__page-slogan-title {
  background-image: linear-gradient(90deg, #999999, #fbfbfb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  white-space: nowrap;
  font-variant: small-caps;
  font-weight: 800;
  font-size: 84px;
  white-space: nowrap;
  opacity: 1;
  animation:
    typingEffect 1s steps(18, end) forwards, fadeIn 1s forwards;
  position: relative;
}


@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.header__page-slogan-title-bar {
  font-weight: 200;
  position: absolute;
  color: #f1f1f1;
  top: 0px;
  left: 100%;
  animation-name:
    blink;
  animation-duration: 500ms;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}




.header__page-slogan-paragraph {
  opacity: 0;
  font-weight: 200;
  font-size: 16px;
  color: white;
  font-variant: normal;
  padding-bottom: 25px;
  animation: fadeIn 750ms 1s ease-in-out forwards;
}

.header__unordered-list {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.underline {
  width: 20px;
  height: 1.5px;
  background-color: #666668;
}

.header__scroll {
  margin-bottom: 50px;
  position: absolute;
  background-color: transparent;
  height: 50px;
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__scroll-arrow {
  width: 50px;
  height: 50px;
  background-color: #111111;
  border-radius: 100vmax;
  outline: 1px solid #404040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #111111;
  border-top: 1px solid #575757;
}

.main__content-container {
  width: 71.75%;
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}


.main__content-container>*::selection {
  color: rgb(232, 151, 0)
}


@keyframes moveUpAndFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.main__feel-the-road {
  height: 100vh;
  transform: translateY(-10%);
  opacity: 0;
  animation-name: moveUpAndFadeIn;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}

.main__text {
  transform: translateY(-10%);
  opacity: 0;
  animation-name: moveUpAndFadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}

.main__image-container {
  transform: translateY(-10%);
  opacity: 0;
  animation-name: moveUpAndFadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 1250ms;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}

.main__content-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 35px 0 75px 0;
}

.main__content-title>h2 {
  font-weight: lighter;
  font-size: 50px;
}

.main__content-title span {
  font-weight: 800;
}

.main__image-container {
  margin: 0 0 0 25px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__image {

  height: 500px;
  width: 430px;
  /* height: 450px;
  width: 387px; */
  object-fit: cover;
  object-position: 50% 50%;
}

.main__text {
  margin-left: 50px;
  width: 40%;
}

*::selection {
  background-color: rgb(205, 141, 21);
  color: white;
}

.main__text-and-image {
  display: flex;
  margin: 75px 0;
}

.main__text>h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 25px;
}

.main__text>p {
  font-weight: 200;
  font-size: 16px;
  margin-bottom: 30px;
}

.main__contact-us {
  display: block;
  border: 1px solid #575757;
  position: relative;
  width: 175px;
  padding: 10px 20px;
  margin: 20px 0 0 0;
}

.main__contact-us::after {
  content: ">";
  position: absolute;
  left: 85%;
}

.main__content-title>p {
  font-size: 13px;
}


.main__models-car {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  transform: skew(2deg);
  opacity: 0;
}

.main__models-car:nth-child(1) {
  animation-name: unskewAndShowContainer;
  animation-duration: 250ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}



.main__models-car:nth-child(2) {
  animation-name: unskewAndShowContainer;
  animation-duration: 250ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}


.main__models-car:nth-child(3) {
  animation-name: unskewAndShowContainer;
  animation-duration: 250ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}


@keyframes unskewAndShowContainer {
  from {
    opacity: 0;
    transform: skew(20deg);
  }

  to {
    opacity: 1;
    transform: skew(2deg);
  }
}

.main__side-borders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__models-car-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 25px;
  width: 250px;
}

.main__models-car-text>p {
  color: #808080;
}

.main__models-car-text>h3 {
  margin-bottom: 25px;
}

.main__models-car-text>* {
  font-weight: 400;
}

.main__models-image {
  margin: 0 25px;
  width: 570px;
  height: 200px;
  object-fit: cover;
}


.main__models-car:nth-child(2) .main__models-car-text {
  margin-left: -5px;
}

.main__models-image-container:nth-child(1) .main__models-image {
  object-position: 0% 75%;
}


.main__models-image-container:nth-child(2) .main__models-image {
  object-position: 0% 70%;
}

.main__models-image-container:nth-child(3) .main__models-image {
  object-position: center;
}


/* 
For phones
*/
@media screen and (max-width: 768px) {
  .header__unordered-list {
    flex-direction: column;
    padding: 5px 10px;
    backdrop-filter: blur(15px);
    width: 100%;
    margin-top: 0px;
    border-bottom: 1px solid #575757;
  }

  .header__navigation-bar {
    width: 100%;
  }

  .header__list-item {
    padding: 10px 0;
  }

  .header__page-slogan-title {
    font-size: 42px;
  }

  .header__page-slogan-paragraph {
    font-size: 14px;
  }

  .header__page-slogan {
    top: 30%;
  }

  .header__background-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }

  .main__content-container {
    width: 80%;
  }

  .main__feel-the-road {
    height: 75vh;
  }

  .main__content-title>h2 {
    font-size: 36px;
    text-align: center;
  }

  .main__text-and-image {
    flex-direction: column;
  }

  .main__browse-the-models {
    margin-top: 500px;
  }


  .main__text {
    margin: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__text>p {
    margin: 20px;
  }

  .main__image-container {
    width: 100%;
    margin: 25px 0 0 0;
    overflow: hidden;
  }

  .main__image {
    height: calc(350px - 5vh);
    width: 90%;
  }

  .main__models-image:nth-child(n) {
    object-fit: cover;
    width: 260px;
    height: 150px;
    object-position: 50% 50%;
  }

  .main__models-car {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .main__models-car:nth-child(2) {
    flex-direction: column-reverse;
    transform: skew(-2deg);
  }

  .main__models-image {
    margin-top: 10px;
  }

  .main__contact-us {
    margin: 20px 0 0 20px
  }

  .main__models-car:nth-child(2) .main__models-car-text {
    margin-left: 15px;
  }
}

/* 
For tablets
*/
@media screen and (min-width: 768px) and (max-width: 1020px) {

  .header__background-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }

  .main__text-and-image {
    flex-direction: column;
  }


  .main__models-car {
    flex-direction: row;
  }

  .main__models-image:nth-child(n) {
    object-fit: cover;
    width: 260px;
    height: 350px;
    object-position: 50% 50%;
    width: 85%;
  }

  .main__browse-the-models {
    margin-top: 150px;
  }

  .main__text {
    margin: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__image {
    height: calc(350px - 5vh);
    width: 90%;
  }

  .main__image-container {
    width: 100%;
    margin-left: 0;
  }


  .main__models-image-container:nth-child(1) .main__models-image {
    object-position: 70% 0%;
  }

  .main__models-image-container:nth-child(2) .main__models-image {
    object-position: 70% 0%;
  }

  .main__models-image-container:nth-child(3) .main__models-image {
    object-position: 25% 0%;
  }
}


/* 
For laptops
*/
@media screen and (min-width: 1020px) and (max-width: 1150px) {
  .header__background-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }

  .main__image {
    height: 500px;
    width: 90%;
  }

  .main__models-image {
    margin: 20px;
    width: 100%;
  }

  .main__models-car:nth-child(2) .main__models-car-text {
    margin-left: 35px;
  }

}

/* To make the custom cursor disappear */
@media (pointer: coarse) {
  .cursor {
    display: none;
  }

  .cursor::before {
    display: none;
  }
}